<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lisuiheng.astra.sys.mapper.WorkflowCategoryMapper">

    <resultMap id="WorkflowCategoryResultMap" type="com.github.lisuiheng.astra.sys.entity.WorkflowCategory">
        <id property="categoryId" column="category_id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="ancestors" column="ancestors"/>
        <result property="categoryName" column="category_name"/>
        <result property="orderNum" column="order_num"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createDept" column="create_dept"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- 可在此处添加自定义SQL查询 -->

</mapper>