<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.lisuiheng.astra.sys.mapper.SysUserMapper">

    <resultMap type="com.github.lisuiheng.astra.sys.domain.vo.SysUserVo" id="SysUserResult">
        <id     property="userId"       column="user_id"      />
        <result property="deptId"       column="dept_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
        <result property="email"        column="email"        />
        <result property="phonenumber"  column="phonenumber"  />
        <result property="sex"          column="sex"          />
        <result property="avatar"       column="avatar"       />
        <result property="password"     column="password"     />
        <result property="status"       column="status"       />
        <result property="delFlag"      column="del_flag"     />
        <result property="loginIp"      column="login_ip"     />
        <result property="loginDate"    column="login_date"   />
        <result property="createBy"     column="create_by"    />
        <result property="createTime"   column="create_time"  />
        <result property="updateBy"     column="update_by"    />
        <result property="updateTime"   column="update_time"  />
        <result property="remark"       column="remark"       />
        <result property="userType"     column="user_type"    />
        <result property="tenantId"     column="tenant_id"    />
        <result property="deptName"     column="dept_name"    />
        <result property="roleName"     column="role_name"    />
    </resultMap>

    <!-- 查询条件 -->
    <sql id="selectUserVo">
        select distinct u.user_id, u.dept_id, u.user_name, u.nick_name, u.email, u.phonenumber, u.password, u.sex, u.avatar, u.status, u.del_flag, u.login_ip, u.login_date, u.create_by, u.create_time, u.remark, u.user_type, u.tenant_id,
               d.dept_name, r.role_name
        from sys_user u
        left join sys_dept d on u.dept_id = d.dept_id
        left join sys_user_role sur on u.user_id = sur.user_id
        left join sys_role r on r.role_id = sur.role_id
    </sql>

    <select id="selectAllocatedList" resultType="com.github.lisuiheng.astra.sys.domain.vo.SysUserVo">
        <include refid="selectUserVo"/>
        WHERE u.del_flag = '0'
        <if test="userBo.roleId != null and userBo.roleId != ''">
            AND r.role_id = #{userBo.roleId}
        </if>
        <if test="userBo.userName != null and userBo.userName != ''">
            AND u.user_name like concat('%', #{userBo.userName}, '%')
        </if>
        <if test="userBo.status != null and userBo.status != ''">
            AND u.status = #{userBo.status}
        </if>
        <if test="userBo.phonenumber != null and userBo.phonenumber != ''">
            AND u.phonenumber like concat('%', #{userBo.phonenumber}, '%')
        </if>
        <if test="ew != null and ew.sqlSegment != null and ew.sqlSegment != ''">
            AND ${ew.sqlSegment}
        </if>
        ORDER BY u.user_id
    </select>

    <select id="selectPageUserList" resultMap="SysUserResult">
        <include refid="selectUserVo"/>
        WHERE u.del_flag = '0'
        <if test="userName != null and userName != ''">
            AND u.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="status != null and status != ''">
            AND u.status = #{status}
        </if>
        <if test="phonenumber != null and phonenumber != ''">
            AND u.phonenumber like concat('%', #{phonenumber}, '%')
        </if>
        <if test="params.beginTime != null and params.beginTime != ''">
            AND date_format(u.create_time,'%Y-%m-%d') &gt;= date_format(#{params.beginTime},'%Y-%m-%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''">
            AND date_format(u.create_time,'%Y-%m-%d') &lt;= date_format(#{params.endTime},'%Y-%m-%d')
        </if>
        ORDER BY u.user_id
    </select>

    <select id="selectUserListByDeptId" resultMap="SysUserResult">
        <include refid="selectUserVo"/>
        WHERE u.dept_id = #{deptId} AND u.del_flag = '0'
        ORDER BY u.user_id
    </select>

</mapper>